DB_HOST=mojojojo_postgres
DB_PORT=5432
DB_USER=mojojojo_user
DB_PASSWORD=mojojojo_password
DB_NAME=mojojojo_database

REDIS_HOST=mojojojo_redis
REDIS_PORT=6379
REDIS_PASSWORD=mojojojo_redis_password
REDIS_URL=redis://localhost:6379
REDIS_DB=0
REDIS_TLS=false
