DB_HOST=mojo-db
DB_PORT=5432
DB_USER=mojo_db_user
DB_PASSWORD=mojo_db_password
DB_NAME=mojo_db

REDIS_HOST=mojo-redis
REDIS_PORT=6379
REDIS_PASSWORD=mojo_redis_password
REDIS_URL=redis://localhost:6379
REDIS_DB=0
REDIS_TLS=false
